---
title: Administrating Service Instances with Service Connector
owner: @AndiBrunner
---

<strong><%= modified_date %></strong>

After creating a service instance, you'll eventually need to administrate the service. For example you might need to create data tables in a database or backup/restore your data.
For these use cases, we created the Cloud Foundry CLI Plugin Service Connector which is a local proxy app through which you can connect to your service instances using your preferred locally installed tools.

## <a id='installing-service-connector'></a> Installing Service Connector

### Windows

1. Install the latest version of the CLI (version 6.11.2 or newer is required)
1. Download the Service Connector plugin into a folder (see url in the “Binaries” section below)
1. Install the plugin into the CLI using the `cf install-plugin` command. E.g.: `cf install-plugin c:\downloads\swisscom-plugin.exe`

### Linux / Mac OS X

1. Install the latest version of the CF CLI (version 6.11.2 or newer is required)
1. Run the following command:

<pre class="terminal">
$ cf install-plugin https://swisscom-plugin.scapp.io/mac64/swisscom-plugin

Attempting to download binary file from internet address...
8592672 bytes downloaded...
Installing plugin /var/folders/kl/lmmcb8393nb5pnl7cp2c_kgw0000gn/T/swisscom-plugin...
OK
Plugin SwisscomPlugin v1.0.4 successfully installed.
</pre>

### Binaries

* Windows 32-bit: [https://swisscom-plugin.scapp.io/windows32/swisscom-plugin.exe](https://swisscom-plugin.scapp.io/windows32/swisscom-plugin.exe)
* Windows 64-bit: [https://swisscom-plugin.scapp.io/windows64/swisscom-plugin.exe](https://swisscom-plugin.scapp.io/windows64/swisscom-plugin.exe)
* OSX 64-bit: [https://swisscom-plugin.scapp.io/mac64/swisscom-plugin](https://swisscom-plugin.scapp.io/mac64/swisscom-plugin)
* Linux 32-bit: [https://swisscom-plugin.scapp.io/linux32/swisscom-plugin](https://swisscom-plugin.scapp.io/linux32/swisscom-plugin)
* Linux 64-bit: [https://swisscom-plugin.scapp.io/linux64/swisscom-plugin](https://swisscom-plugin.scapp.io/linux64/swisscom-plugin)

## <a id='using-service-connector'></a> Using Service Connector

Steps for connecting to a running service:

1. Log into the CLI using `cf login`.
1. Create a service-key for the respective service instance by using `cf create-service-key <service-instance-name> mykey`.
1. Retrieve your service key's credentials using `cf service-key <service-instance-name> mykey`.
1. Start the client and define a local port and the location of the service (host:port or ip:port), e.g. `cf service-connector 13000 asdfjlkasd.service.consul:3000`.
1. Connect your management console to the port the client is listening on, e.g. `localhost:13000` and log in with the service instance credentials.

If you are working behind a corporate proxy, set the http\_proxy environment variable, e.g. `http_proxy=proxy.corproot.net:8079` . For more information type `cf service-connector -h` in the prompt.
